@import "tailwindcss";

@theme {
  /* Acá definimos tus colores elegantes */
  --color-legal-black: #000000;
  --color-legal-beige: #E7D7BE;
  --color-legal-dark: #1A1A1A;
  --color-legal-light: #FDFBF7;
}